// Heading font decoration
@mixin heading-one-desktop{
    font-size: 2rem;
    line-height: 1.2;
    font-weight:200;
}

%heading-one-mobile{
    font-size: 1.5rem;
    line-height: 1;
    font-weight:200;
}

@mixin heading-two-desktop
{
    font-size: 2rem;
    line-height: 1.2;
    font-weight:600;
}

%heading-two-mobile{
    font-size: 1.5rem;
    line-height: 1;
    font-weight:600;
}

@mixin heading-three-desktop{
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight:600;
}

%heading-three-mobile{
    font-size: 1.25rem;
    line-height: 1;
    font-weight:600;
}

body{
    font-family:'Poppins', sans-serif;
    color: $grayish-blue
}

.heading-light {
    @extend %heading-one-mobile;
    color: $dark-blue;
}

.heading-bold {
    @extend %heading-two-mobile;
    color: $dark-blue;
}

.small {
    @extend %heading-three-mobile;
    color: $dark-blue;
    margin-bottom: 1rem;
}

@media (min-width: 1440px) {
    .heading-light {
        @include heading-one-desktop;
    }

    .heading-bold {
        @include heading-two-desktop;
    }

    .small {
        @include heading-three-desktop;
    }
}